body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    font-weight: 500;
    font-family: 'Roboto', "Arial", sans-serif;   
}
h1 {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;   
    }

h2 {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;   
}
.clearfix::after {
    content: "";

    display: table;
    clear: both;
}
.main-header {
    background: #eeeeee;
    padding-top: 27px;
    padding-bottom: 18px;
    color: black;
}
.container {
    width: 880px;
    margin: 0 auto;
}
.index-logo {
    float: left;
    width: 138px;
    height: 55px;
}
.main-navigation {
    float: left;
    width: 400px;
    margin-left:180px;
}
.main-navigation-item {
    display: inline-block;
    margin-right: 45px;
    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
    text-transform: uppercase;
}
.main-navigation-item:last-child {
    margin-right: 0px;
}
.main-navigation-menu {
    margin-top: 27px;
    padding: 0;
    list-style: none;
    font-size: 0;
}
.main-navigation a {
    display: block;
    color: black;
    text-decoration: none;
}
.main-navigation a:hover {
    color: #fb565a;
}
.main-navigation a:active {
    color: #000000;
    opacity: 0.4;
}
.active-page {
    border-bottom: 2px solid #fb565a;
}
.user-block {
    float: right;
    margin-top: 27px;
    width: 100px;
    text-align: right;
}
.user-block-basket {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Roboto', sans-serif; 
    text-transform: uppercase;
}
.user-block-basket:hover {
    color: #fb565a;
}
.user-block-basket:active {
    color: #000000;
    opacity: 0.4;
}
.user-block-basket::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: url("../img/sprite.png") no-repeat -110px 0px;
    display: inline-block;
    left: -27px;
    top: 5px;
}   
.user-block-basket:hover::before {
    background: url("../img/sprite.png") no-repeat -110px -15px;
}
.user-block-basket:active::before {
    background: url("../img/sprite.png") no-repeat -110px -30px;
}
b { 
    font-weight: 500;
}
.slider {
    background: #eeeeee;
    width: 100%;
    min-height: 292px;
    overflow: hidden;
    padding-top: 24px;
    padding-bottom: 18px;
    position: relative;
}
.slides {
    width: 880px;
    margin: 0 auto;
    position: relative;
}
.slide {
    display:none;
    position: absolute;
    top: 0px;
    left: 10px;
    width: 880px;
    height: 310px;
    background-repeat: no-repeat;
    background-position: 100% 10px;
    -webkit-transition: left 0s ease;
       -moz-transition: left 0s ease;
            transition: left 0s ease;
}
.slider input[type="radio"] {
    display: none;
}
.slider-controls {
    position: absolute;
    bottom: 83px;
    left: 50%;
    z-index: 10;
    width: 100px;
    margin-left: -60px;
    text-align: center;
}
.slider-controls label {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    vertical-align: top;
    background: #ffffff;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
}
.slide-text {
    width: 500px;
    padding: 30px 0;
}
.slide-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 3px;
}
.slide p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    padding-bottom: 2px;
    padding-top: 0px;
}
.slide .btn {
    display: block;
    width: 240px;
    margin-top: 25px;
    padding: 10px 0px;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
}
.btn:hover {
    background-color: #d6494d;
    cursor: pointer;
}
.btn:active {
    background-color: #b63538;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}
.slide:nth-child(1) {
    background-image: url("../img/slider-1.png")
}
.slide:nth-child(2) {
    background-image: url("../img/slider-2.png");
}
.slide:nth-child(3) {
    background-image: url("../img/slider-3.png");
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
    left: 0;
    display: block;
}
#btn-1:checked ~ .slides .slide:nth-child(2),
#btn-1:checked ~ .slides .slide:nth-child(3) {
    left: 880px;
}
#btn-2:checked ~ .slides .slide:nth-child(1) {
    left: -880px;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
    left: 0;
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(3) {
    left: -880px;
}
#btn-3:checked ~ .slides .slide:nth-child(1) {
    left: -880px;
}
#btn-3:checked ~ .slides .slide:nth-child(2) {
    left: -880px;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
    left: 0;
    display: block;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background: #c1c1c1;
}
.production-item {
    float: left;
    width: 240px;
    min-height: 45px;
    margin-right: 80px;
    margin-top: 80px;
}
.production-item:last-child {
    margin-right: 0;
}
.production {
    border-bottom: solid 2px #eeeeee;
    padding-bottom: 80px;
}
.production-title {
    text-transform: uppercase;
}
.production-text {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 27px;
}
.order-btn-1:link, .order-btn-1:visited {
    float: left;
    color: white;
    background-color: #fb565a;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;  
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    width: 140px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.order-btn-1:hover {
    background-color: #d6494d;
    cursor: pointer;
}
.order-btn-1:active {
    background-color: #b63538;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}
.order-btn-2:link, .order-btn-2:visited {
    float: left;
    color: white;
    background-color: #00ca74;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;  
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    width: 140px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.order-btn-2:hover {
    background-color: #01a25e;
    cursor: pointer;
}
.order-btn-2:active {
    background-color: #009053;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}
.order-btn-3:link, .order-btn-3:visited {
    float: left;
    color: white;
    background-color: #efc84a;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;  
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    width: 140px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.order-btn-3:hover {
    background-color: #d6ae2c;
    cursor: pointer;
}
.order-btn-3:active {
    background-color: #c09b24;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}
.about-block {
    float:left;
    width:100%;
    margin-top: 60px;
}
.about-block-desc {
    float: left;
}
.about-block-list {
    float: right;
}
.block-description {
    float: left;
    width: 580px;
    min-height: 172px;
    margin-right: 20px;
}
.block-description-title {
    float: left;
    font-size: 36px;
    line-height: 36px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 18px; 
}
.block-description-text {
    font-size: 16px;
    line-height: 22px;
    margin-top: 17px;
    margin-bottom: 10px;
}
.block-logo {
    float: right;
    width: 240px;
    min-height: 172px;
    margin-left: 40px;
}
.block-logo-img {
    margin-left: 30px;
}
.block-logo-year {
    width: 240px;
    margin-top: 23px;
    text-align: center;
    position: relative;
    z-index: 2;
    display: inline-block;
    font-size: 16px;
    background: white;
}
.block-logo-year::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 10px;
    z-index: 1;
    display: block;
    width: 65px;
    height: 2px;
    background: #eeeeee; 
}
.block-logo-year::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 1;
    display: block;
    width: 65px;
    height: 2px;
    background: #eeeeee; 
}
.main-services-left {
    float: left;
    width: 640px;
}
.main-services-right {
    float: right;
    width: 240px;
}
.services-text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 22px;
    text-transform: uppercase;
}
.services-list {
    margin: 0px;
    padding-left: 11px;
    list-style-type: none;
}
.services-list > li {
    margin-bottom: 22px;
}
.services-list > li::before {
  content: "";
    width: 25px;
    height: 2px;
    background: #fb565a;
    display: inline-block;
    position: relative;
    left: -11px;
    top: -5px;
}
.company-logo {
    float: left;
    width: 100%;
    margin-top: 48px;
    margin-bottom: 85px;
}
.company-logo-list {
    float: left;
    border-top: solid 2px #eeeeee;
    border-bottom: solid 2px #eeeeee;
}
.company-logo-item {
    width: 240px;
    display: inline-block;
    margin-right: 75px;
    margin-top: 45px;
    margin-bottom: 25px;
    opacity: 0.2;
}
.company-logo-item:last-child {
    margin-right: 0px;
}
.company-logo-item:hover {
    opacity: 1;
    cursor: pointer;
}
.company-logo-img {
    border: none;
    outline: none;
}
.map-wrapper {
    position: relative;
    float: left;
    width: 100%;
}
.contacts {
    position: absolute;
    padding-top: 25px;
    padding-bottom: 26px;
    padding-left: 23px;
    padding-right: 23px;
    width: 204px;
    top: 88px;
    background: white;
    color: #666666;
    font-size: 16px;
}
.contacts-company {
    float: left;
    text-transform: uppercase;
    color: black;
    line-height: 30px;
    padding-bottom: 11px;
}
.contacts-address {
    float: left;
    padding-bottom: 16px;
}
.contacts-phone {
    float: left;
    padding-bottom: 28px;
}
.contacts-link:link, .contacts-link:visited {
    float: left;
    color: white;
    background-color: #fb565a;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;  
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    width: 204px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contacts-link:hover {
    background-color: #d6494d;
    cursor: pointer;
}
.contacts-link:active {
    background-color: #b63538;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}
.main-footer {
    float: left;
    width: 100%;
    margin-top: 75px;
    margin-bottom: 75px;
}
.footer-social {
    float: left;
    width: 240px;
    min-height: 61px;
    margin-right: 80px;
}
.social-btn {
    float: left;
    width: 62px;
    height: 62px;
    background: #e1e1e1;
    margin-right: 26px;
    border-radius: 31px;
}
.social-btn:last-child {
    margin-right: 0px;
}
.social-btn:hover {
    background-color: #fb565a;
    cursor: pointer;
}
.social-btn:active {
    background-color: #d6494d;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.15);
    cursor: pointer;
}
.social-btn-vk {
    background: url('../img/sprite.png') #e1e1e1 no-repeat 0px -74px;
}
.social-btn-fb {
        background: url('../img/sprite.png') #e1e1e1 no-repeat -62px -76px;
}
.social-btn-inst { 
        background: url('../img/sprite.png') #e1e1e1 no-repeat -124px -76px;
    
}
.footer-description {
    float: right;
    width: 560px;
    min-height: 61px;
}
.footer-title {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 36px;
}
.footer-text {
    margin: 0px;
    font-size: 16px;
    line-height: 22px;
}
.title-wrapper {
    float: left;
    width: 100%;
    margin-bottom: 78px;
    padding-bottom: 84px;
    background-color: #eeeeee;
}
.title {
    text-align: center;
    width: 700px;
    margin: 0 auto;
    padding-top: 44px;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.2px;
}
.sidebar {
    float: left;
    width: 240px;
    margin-right: 80px;
}
.product-box {
    float: right;
    width: 560px;
}
.examples-name {
    font-size: 18px;
    text-transform: uppercase;
}
.examples-text {
    font-size: 14px;
    line-height: 18px;
    width: 160px;
}
.examples-item {
    float: left;
    width: 240px;
    margin-bottom: 80px;
    position: relative;
    border-top: solid #f1f1f1 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.examples-item:hover {
    border-top: solid #b6b6b6 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.examples-item:nth-child(2n+1) {
    margin-right: 80px;
}
.examples-item:last-child {
    margin-bottom: 75px;
}
.examples-item:nth-child(5) {
    margin-bottom: 75px;
}
.examples-item::before {
    content: "";
	display: inline-block;
	width: 44px;
	height: 10px;
	position: absolute;
	left: 12px;
	top: -20px;
	background: url("../img/sprite.png") no-repeat 0px -136px;
}
.range-filter {
    width: 240px;
    margin-bottom: 49px;
}
.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 14px;
    border-radius: 5px;
    background: #f1f1f1;
}
.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}
.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}
.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
    left: 15px;
}
.range-controls .toggle-max {
    left: 160px;
}
.price-controls {
    font-size: 0;
}
.price-controls label {
    font-size: 16px;
    display: inline-block;
    width: 50%;
}
.max-price {
    text-align: right;
}
.price-controls input {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    width: 60px;
    margin-left: 6px;
    padding: 8px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #f1f1f1;
}
fieldset {
    padding: 0px;
    border: none;
    margin-left: 0px;
}
.filter-subtitle {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
}
.filter-item {
    float: left;
    width: 25px;
    margin-bottom: 15px;
}
.filter-item-name, 
.filter-item-name-checkbox {
    display: inline-block;
    width: 200px;
    margin-bottom: 18px;
    position: relative;
    padding-left: 35px;
    color: #283136;
}
input[type=radio],
input[type=checkbox] {
	display: none;
}
.filter-item-name::before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background: url("../img/sprite.png") no-repeat 0px 0px;
}
input[type=radio]:checked + .filter-item-name::before {
 	background: url("../img/sprite.png") no-repeat -25px 0px;
}

input[type=radio]:hover:checked + .filter-item-name:hover::before {
 	background: url("../img/sprite.png") no-repeat -25px -25px;
    color: black;
    width: 25px;
	height: 25px;
    cursor: pointer;
}
.filter-item-name:hover::before {
    background: url("../img/sprite.png") no-repeat 0px -25px;
    width: 25px;
	height: 25px;
    cursor: pointer;
}
.filter-item-name:hover {
   color: black;
}
.filter-item-name-checkbox::before {
	content: "";
	display: inline-block;
	width: 27px;
	height: 23px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background: url("../img/sprite.png") no-repeat -50px 0px;
}
input[type=checkbox]:checked + .filter-item-name-checkbox::before {
 	background: url("../img/sprite.png") no-repeat -77px 0px;
}

.filter-item-name-checkbox:hover::before {
    background: url("../img/sprite.png") no-repeat -50px -23px;
    width: 27px;
	height: 23px;
    cursor: pointer;
}
.filter-item-name-checkbox:hover {
   color: black;
}
input[type=checkbox]:hover:checked + .filter-item-name-checkbox:hover::before {
 	background: url("../img/sprite.png") no-repeat -77px -23px;
    color: black;
    width: 27px;
	height: 23px;
    cursor: pointer;
 }
fieldset:nth-child(2) {
    margin-bottom: 29px;
}
fieldset:last-child {
    margin-bottom: 55px;
}
.show-more-btn {
    float: left;
    color: black;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;  
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    width: 155px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 38px;
}
.show-more-btn:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}
.show-more-btn:active {
    background-color: #d5d5d5;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}
.sort {
    width: 560px;
    float: left;
    margin-top: 2px;
}
.sort-item {
    display: inline-block;
    margin-right: 41px;
    text-transform: uppercase;
}
.sort-item-link {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #b2b2b2;
    border-bottom: 1px dotted #00ca74;
    text-decoration: none;
}
.sort-item-link:hover {
    color: black;
    cursor: pointer;
    border-bottom: 1px solid #00ca74;
}
.sort-item-link:active {
    color: black;
    cursor: pointer;
    border-bottom: 1px solid white;
}
.sort-item:last-child {
    margin-right: 0px;
}
.sort-title {
    float: left;
    width: 90px;
    margin-right: 37px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: black;
    text-transform: uppercase;
    padding-left: 0px;
}
.sort-list {
    margin-top: 0px;
    width: 350px;
    margin-right: 0px;
    margin-bottom: 15px;
    padding: 0px;
    float: left;
}
.sort-buttons {
    float: right;
    width: 28px;
    margin-top: 3px;
}
.sort-button-down {
    float: left;
    width: 11px;
    height: 10px;
    margin-right: 6px;
    background: url("../img/sprite.png") no-repeat -130px 0px;
}
.sort-button-up {
    float: left;
    width: 11px;
    height: 10px;
    background: url("../img/sprite.png") no-repeat -150px 0px;
}
.sort-button-down:hover {
    background: url("../img/sprite.png") no-repeat -130px -10px;
    cursor: pointer;
}
.sort-button-up:hover {
    background: url("../img/sprite.png") no-repeat -150px -10px;
    cursor: pointer;
}
.sort-button-down:active {
    background: url("../img/sprite.png") no-repeat -130px -20px;
    cursor: pointer;
}
.sort-button-up:active {
    background: url("../img/sprite.png") no-repeat -150px -20px;
    cursor: pointer;
}
.sort-button-down-active {
    float: left;
    width: 11px;
    height: 10px;
    margin-right: 6px;
    background: url("../img/sprite.png") no-repeat -130px -30px;
}
.sort-button-up-active {
    float: left;
    width: 11px;
    height: 10px;
    margin-right: 6px;
    background: url("../img/sprite.png") no-repeat -150px -30px;
}
.examples-open {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 35px;
    padding-bottom: 30px;
    width: 160px;
    height: 135px;
    background: white;
    text-align: center;
    display: none;
}
.examples-item:hover > .examples-open {
    display: block;
}
.examples-price:link, .examples-price:visited {
    float: left;
    color: white;
    background-color: #fb565a;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;  
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    width: 140px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.examples-price:hover {
    background-color: #d6494d;
    cursor: pointer;
}
.examples-price:active {
    background-color: #b63538;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}
.pagination {
    float: left;
    margin-bottom: 80px;
    width: 560px;
}
.page-btn-active {
    float: left;
    color: black;
    background-color: white;
    border: 2px solid #f1f1f1;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;  
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    width: 34px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 10px;
}
.page-btn-active:hover {
    background-color: #e5e5e5;
    cursor: pointer;
    border: none;
     width: 38px;
    padding-top: 10px;
    padding-bottom: 10px
}
.page-btn-active:active {
    background-color: #d5d5d5;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    cursor: pointer;
    border: none;
     width: 38px;
    padding-top: 10px;
    padding-bottom: 10px
}
.page-btn:link, .page-btn:visited  {
    float: left;
    color: black;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;  
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    width: 38px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
}
.page-btn:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}
.page-btn:active {
    background-color: #d5d5d5;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}
.page-btn-next:link, .page-btn-next:visited {
    float: left;
    color: black;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;  
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    width: 140px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.page-btn-next:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}
.page-btn-next:active {
    background-color: #d5d5d5;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}