body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;   
}
h1 {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;   
    }

h2 {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;   
}
.clearfix::after {
    content: "";

    display: table;
    clear: both;
}
.main-header {
    background: #eeeeee;
    padding-top: 27px;
    padding-bottom: 55px;
    color: black;
}
.container {
    width: 880px;
    margin: 0 auto;
}
.index-logo {
    float: left;
    width: 138px;
    height: 55px;
}
.main-navigation {
    float: left;
    width: 400px;
    margin-left:180px;
}
.main-navigation-item {
    display: inline-block;
    margin-right: 45px;
    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
    text-transform: uppercase;
}
.main-navigation-item:last-child {
    margin-right: 0px;
}
.main-navigation-menu {
    margin-top: 27px;
    padding: 0;
    list-style: none;
    font-size: 0;
}
.main-navigation a {
    display: block;
    color: black;
    text-decoration: none;
}
.main-navigation a:hover {
    color: #fb565a;
}
.main-navigation a:active {
    color: #000000;
    opacity: 0.4;
}
.user-block {
    float: right;
    margin-top: 27px;
    width: 100px;
    text-align: right;
}
.user-block-basket {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Roboto', sans-serif; 
    text-transform: uppercase;
}
.user-block-basket:hover {
    color: #fb565a;
}
.user-block-basket:active {
    color: #000000;
    opacity: 0.4;
}
.main-section-slider {
    float: left;
    width: 100%;
    margin-bottom: 45px;
    padding-bottom: 45px;
    background-color: #eeeeee;
}
.main-section-left {
    float: left;
    width: 380px;
}
.main-section-right {
    float: right;
}
.main-banner {
    display: none;
}
.production-item {
    float: left;
    width: 240px;
    min-height: 45px;
    margin-right: 80px;
}
.production-item:last-child {
    margin-right: 0;
}
.production {
    float: left;
    width: 880px;
    border-bottom: solid 2px #eeeeee;
    padding-bottom: 80px;
    margin-bottom: 60px;
}
.production-title {
    text-transform: uppercase;
}
.production-text {
    font-size: 15px;
    line-height: 22px;
}
.order-btn-1:link, .order-btn-1:visited {
    float: left;
    color: white;
    background-color: #fb565a;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;  
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    width: 140px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.order-btn-1:hover {
    background-color: #d6494d;
    cursor: pointer;
}
.order-btn-1:active {
    background-color: #b63538;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}
.order-btn-2:link, .order-btn-2:visited {
    float: left;
    color: white;
    background-color: #00ca74;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;  
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    width: 140px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.order-btn-2:hover {
    background-color: #01a25e;
    cursor: pointer;
}
.order-btn-2:active {
    background-color: #009053;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}
.order-btn-3:link, .order-btn-3:visited {
    float: left;
    color: white;
    background-color: #efc84a;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;  
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    width: 140px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.order-btn-3:hover {
    background-color: #d6ae2c;
    cursor: pointer;
}
.order-btn-3:active {
    background-color: #c09b24;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}
.about-block-desc {
    float: left;
    width: 840px;
}
.about-block-list {
    float: right;
    width: 840px;
}
.block-description {
    float: left;
    width: 580px;
    min-height: 195px;
    margin-right: 20px;
}
.block-logo {
    float: right;
    width: 240px;
    min-height: 195px;
}
.main-services-left {
    float: left;
    width: 600px;
}
.main-services-right {
    float: right;
    width: 240px;
}
.company-logo {
    float: left;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 85px;
}
.company-logo-item {
    float: left;
    width: 880px;
    border-top: solid 2px #eeeeee;
    border-bottom: solid 2px #eeeeee;
}
.company-logo-first {
    width: 240px;
    float: left;
    margin-right: 80px;
    margin-top: 45px;
    margin-bottom: 35px;
}
.company-logo-second {
    width: 240px;
    float: left;
    margin-right: 80px;
    margin-top: 45px;
    margin-bottom: 35px;
}
.company-logo-third {
    width: 240px;
    float: right;
    margin-right: 0px;
    margin-top: 45px;
    margin-bottom: 35px;
}
.contacts {
    padding-top: 30px;
    padding-bottom: 26px;
    padding-left: 23px;
    padding-right: 23px;
    width: 204px;
}
.contacts-link {
    width: 204px;
}
.main-footer {
    float: left;
    width: 100%;
    margin-top: 75px;
    margin-bottom: 75px;
}
.footer-social {
    float: left;
    width: 240px;
    min-height: 61px;
    margin-right: 80px;
}
.footer-description {
    float: right;
    width: 350px;
    min-height: 61px;
}
.footer-title {
    margin-top: 0px;
}
.title-wrapper {
    float: left;
    width: 100%;
    margin-bottom: 80px;
    padding-bottom: 90px;
    background-color: #eeeeee;
}
.title {
    text-align: center;
    width: 550px;
    margin: 0 auto;
}
.sidebar {
    float: left;
    width: 240px;
    margin-right: 80px;
}
.product-box {
    float: right;
    width: 560px;
}
.examples-item {
    float: left;
    width: 240px;
    margin-bottom: 80px;
    position: relative;
    border-top: solid #f1f1f1 30px;
}
.examples-item:nth-child(2n+1) {
    margin-right: 80px;
}
fieldset {
    padding: 0px;
    border: none;
}
.filter-subtitle {
    margin-bottom: 20px;
}
.features-subtitle {
    margin-bottom: 20px;
}
.filter-item {
    float: left;
    width: 25px;
    margin-bottom: 15px;
}
.filter-item-name {
    display: inline-block;
    width: 200px;
    margin-bottom: 20px;
}
.price {
    margin-bottom: 50px;
}
fieldset:nth-child(2) {
    margin-bottom: 30px;
}
fieldset:last-child {
    margin-bottom: 55px;
}
.show-more-btn {
    float: left;
    width: 155px;
    margin-top: 40px;
}
.sort {
    width: 560px;
    float: left;
}
.sort-item {
    display: inline;
    margin-right: 40px;
}
.sort-item:last-child {
    margin-right: 0px;
}
.sort-title {
    float: left;
    width: 90px;
    margin-right: 40px;
}
.sort-list {
    margin-top: 0px;
}
.examples-open {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    width: 140px;
    height: 135px;
    background: white;
    text-align: center;
}
.examples-price {
    width: 140px;
}
.pagination {
    margin-bottom: 80px;
}
.page-btn {
    width: 38px;
    margin-right: 10px;
}
.page-btn-next {
    width: 140px;
}
